.App {
    padding: 10px;
}

input {
    margin-right: 10px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 10px;
}

.item {
    display: flex;
    flex-basis: 18%;
    margin: 5px;
    align-items: center;
    justify-content: center;
}

.item img {
    width: 100%;
    height: auto;
}

#detail {
    padding: 10px;
}

#detail img {
    float: left;
    margin-right: 10px;
}

@media only screen and (max-width: 640px) {
    .item {
        flex-basis: 45%;
    }
    #detail img {
        width: 100%;
    }
}
